
h1{
    color:rgb(95, 226, 43);
    text-align: center;
    border-style: inset;
 }
body{
    background-image: url("twice\ better.jpg");
    background-repeat:initial;


}
h2{
color:pink;
background-color: black;
text-align: center;

}
p{
    color:rgb(15, 216, 223); 
}













